@import './_mixins';

.home {
  .list {
    @include widthAndHeight(calc(minmax(100%, 100%)), calc(min(100%, 100%)));
    display: grid;
    grid-template-columns: repeat(auto-fit, min(35rem, 100%));
    grid-auto-rows: 5rem;
    justify-content: center;
    padding: 1rem 0 7vh 0;
    gap: 1rem;
    margin: auto;
    .list-item {
      @include flex(flex-start, flex-start);
      flex-direction: column;
      gap: 0.1rem;
    }
  }
}
