@import '@/styles/_mixins';

.navbar__user {
  .navbar__user__menu {
    @include flex(center, flex-start, column);
    position: fixed;
    margin-top: 1rem;
    right: 1rem;
    width: calc(min(18rem, 100%));
    height: fit-content;
    padding: 1rem;
    gap: 0.5rem;
    .user__menu__element {
      width: 100%;
      @include flex(flex-start, center);
      padding: 0.5rem 1rem 0.5rem 1rem;
      gap: 1rem;
      cursor: pointer;
    }
  }
}
