@import './styles/mixins';

.app {
  @include flex(center, center);
  min-height: 100vh;
  .wrapper {
    width: calc(min(110rem, 100%));
    @include flex;
    padding: 4rem 1rem 0 1rem;
  }
}

.icon {
  font-size: 1.75rem;
  color: inherit;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
